<mat-card>
    <mat-card-title>
        To Do List
    </mat-card-title>
    <mat-card-content>
        <p
        *ngFor="let td of todoList"
    >
        <label>
            <mat-checkbox
                [(ngModel)]="td.checked"
            >
            </mat-checkbox>
            {{td.name}}       
            
        </label>
    </p>
    <input type="text" class="form-control" placeholder="New To Do" [(ngModel)]="todo" />
                <button  type="button" (click)="onClick()">Add To Do</button>  
</mat-card-content>
</mat-card>  
      

   
