<mat-card>
    <mat-card-title>
        Which bear is best?
    </mat-card-title>

    <mat-card-content>
  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedBear">
            <p *ngFor="let b of availableBears">
                <mat-radio-button checked="b.checked" [value]="b.name">{{ b.name }}</mat-radio-button>
            </p>
        </mat-radio-group>
              
        <button
            (click)="pickBear()"
            mat-flat-button
            color="primary"
            matRipple
        >
            Pick Bear
        </button>

        <h2 *ngIf="showAngryDwight">
            <img src="https://i.imgflip.com/50ahzx.jpg" alt="False! Black Bear">
        </h2>
        <h2 *ngIf="showAngryDwight != null && !showAngryDwight">
            <iframe src="https://giphy.com/embed/buE4eDkXkpWYZIAyVB" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/theoffice-episode-7-the-office-tv-buE4eDkXkpWYZIAyVB">via GIPHY</a></p>
        </h2>
    </mat-card-content>