<mat-card>

    <mat-card-title>
        Jen's Cat Picker
    </mat-card-title>

    <mat-card-content>

        <div>
            <button
            mat-fab
            color="accent"
            (click)="selectCat('rigby')"
            >
                Rigby
            </button>

            &nbsp; &nbsp;

            <button
                mat-fab
                color="accent"
                (click)="selectCat('tank')"
            >
                Tank
            </button>
        </div>


        <img
            src=""
            id="catImage"
        >


    </mat-card-content>

</mat-card>