<mat-card>
  <mat-card-title>
    Available Pizza Toppings
  </mat-card-title>

  <mat-card-content>
    <button mat-mini-fab color="accent" (click)="checkAll()">All</button>
    &nbsp; &nbsp;
    <button mat-mini-fab color="warn" (click)="uncheckAll()">None</button>

    <p *ngFor="let t of availablePizzaToppings">
      <label>
        <mat-checkbox [(ngModel)]="t.checked"></mat-checkbox>
        {{ t.name }} ({{ t.price | currency }})
      </label>
    </p>

    <button (click)="calculateTotal()" mat-flat-button color="primary">Calculate Total</button>

    <h2>{{ total | currency }}</h2>
  </mat-card-content>
</mat-card>
