<mat-card>
    <mat-card-title>
        Available Pizza Toppings
    </mat-card-title>

    <mat-card-content>

        <p
            *ngFor="let t of availablePizzaToppings"
        >
            <label>
                <mat-checkbox 
                    type="checkbox"
                    [(ngModel)]="t.checked"
                > 
                {{ t.name }} ({{ t.price | currency }})</mat-checkbox>
            </label>
        </p>

        <button
            (click)="calculateTotal()"
            mat-flat-button
            color="primary"
        >
            Calculate Total
        </button>

        <h2>
            {{ total | currency }}
        </h2>

    </mat-card-content>
</mat-card>