<mat-card>
    <mat-card-title>
        Lori's Addition Component
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>First Number</mat-label>
            <input matInput type="number" [(ngModel)]='numberOne'>
        </mat-form-field>

            &nbsp; + &nbsp;
        <mat-form-field>
            <mat-label>Second Number</mat-label>
            <input matInput type="number" [(ngModel)]='numberTwo'>
        </mat-form-field>
        &nbsp;
        <button (click)='addNumbers()'
            mat-raised-button
            color="primary">=</button>
        &nbsp;
        {{ answer }}
    </mat-card-content>
</mat-card>
