<mat-card>
    <mat-card-title>
        Dinner Reservation Date
    </mat-card-title>
    <mat-card-content>
        <input 
            matInput 
            type="date"
            [(ngModel)]="selectedDate"
            (change)="handleDateChange()"
            (input)="handleDateArrows()">
        <div class="button-row">
            <button 
                mat-raised-button 
                color="accent"
                (click)="confirmDate()"
                >Confirm Reservation
            </button>
        </div>
        <br>
        <p *ngIf="buttonWasClicked" id="message">
            <span id="success">Thank you!</span> Dinner reservation confirmed for {{ selectedDate | date:'fullDate'}}
        </p>           
    </mat-card-content>
</mat-card>
