<mat-card>
    <mat-card-title>
        Dinner Reservation Date
    </mat-card-title>
    <mat-card-content>
        <mat-form-field color="accent" appearance="fill">
            <mat-label>Pick a date</mat-label>
            <input 
                matInput 
                [matDatepicker]="picker1"
                [(ngModel)]="selectedDate"
                (dateChange)="handleDateChange()"
                (dateInput)="handleDateArrows()">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <div class="button-row">
            <button 
                mat-raised-button 
                color="accent"
                (click)="confirmDate()"
                >Confirm Reservation
            </button>
        </div>
        <br>
        <p *ngIf="buttonWasClicked" id="message">
            <span id="success">Thank you!</span> Dinner reservation confirmed for {{ selectedDate | date:'fullDate' }}
        </p>    
        
    </mat-card-content>
</mat-card>
